.bgr {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #2F0840;
    /* background-image: url("src/assets/bgr.jpeg"); */
    background-size: cover;
}

::placeholder {
    color: #6C757D;
    opacity: 1;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

input {
    background-color: white;
}

.formulario {
    position: relative;
    justify-content: center;
    margin-top: 20vh;
}

.imgText {
    color: #C29FFA;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.descText {
    color: #E9ECEF;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.email p,
.password p,
.remember label {
    color: #A98EDA;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.noACC {
    margin-top: 1vh;
    color: #A98EDA;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.loginBTN button {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    height: 3vh 3vh;
    background-color: #D63384;
    color: white;
}

.alert-danger {
    color: red;
    width: 100%;
}