<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button">
            <img src="https://i.pinimg.com/736x/1c/b3/77/1cb37778107856d56e05d378db46eda9.jpg" alt="" class="d-inline-block">
        </a>
        <a class="navbar-brand" href="">
            COOKIESQUEST
        </a>
        <form class="d-flex" role="search">
            <input class="form-control me-2 buscar" type="search" placeholder="Buscar Rooms" aria-label="Buscar">
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">

            </div>
            <div class="dropdown">
                <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-chevron-down"></i>            
                </button>
                <!-- <button *ngIf="!show; else elseBlock" (click)="show = true" class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-chevron-down"></i>            
                </button>
                 <ng-template #elseBlock>
                    <button (click)="show = false" class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-chevron-up"></i>
                    </button>
                </ng-template>  -->
                <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>

            </div>
            <button class="btn" type="button" id="notification">
                <i class="bi bi-bell-fill"></i>            
            </button>
            <button class="btn btn-danger" type="button" id="logout">
                <i class="bi bi-box-arrow-left"></i>
            </button>
        </div>

    </div>
</nav>