::placeholder {
    color: white;
    opacity: 1;
}

input,
select,
textarea {
    color: white;
}

textarea:focus,
input:focus {
    color: white;
}

.navbar {
    background-color: #1A0537;
}

.navbar-brand {
    justify-content: center;
    text-align: center;
    display: flex;
}

.navbar-brand img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#dropdownMenuButton1 {
    color: white;
    margin-right: 5px;
    border-style: none;
    box-shadow: none;
}

.dropdown-menu-left {
    right: 0;
    left: auto;
    margin-top: 10px;
    border-radius: 0%;
    width: 300px;
}

.buscar {
    background-color: #1A0537;
    border-color: #1A0537;
}

#notification {
    color: black;
    background-color: white;
    border-radius: 50%;
    margin-right: 15px;
}

#logout {
    color: #800040;
    background-color: #FF1414;
}