<div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <img src="https://i.pinimg.com/736x/1c/b3/77/1cb37778107856d56e05d378db46eda9.jpg" alt="">
    </div>
    <div class="userData">
        <p>DOGGOBOSS <br>#9602496</p>
    </div>

    <div class="offcanvas-body">
        <ul class="option-list">
            <li><a class="" href="#">MyQuizzes</a></li>
            <li><a class="" href="#">MyRooms</a></li>
            <li><a class="" href="#">MyProfile</a></li>
            <li><a class="" href="#">MyProfile</a></li>
        </ul>
    </div>
    <div class="close-btn">
        <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="bi bi-x-circle-fill"></i>
        </button>
    </div>
</div>