.offcanvas {
    background-color: #1A0537;
}

.userData {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

.offcanvas-header {
    display: flex;
    justify-content: center;
}

.offcanvas-header img {
    justify-content: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.offcanvas-body {
    margin-top: 50px;
}

ul {
    list-style-type: none;
    display: contents;
}

ul li {
    padding: 0;
    margin: 0;
    text-align: center;
}

ul li a {
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
    background: #2B0B59;
    font-family: 'Gaegu';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 5px solid #A36CD9;
    /* border-top: 10px solid #A36CD9;
    border-bottom: 10px solid #A36CD9; */
    border-radius: 5px;
}

.close-btn {
    justify-content: center;
    text-align: center;
    display: flex;
    background: #2B0B59;
}

.close-btn i {
    color: white;
    font-size: 30px;
}